:root {
    --main-color:rgba(44, 62, 80,1.0);
    --main-color-light:rgba(44, 62, 80,1.0.5);
    --accent-color:rgba(230, 126, 34,1.0);
    --accent-color-light:rgba(230, 126, 34,1.0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}

.main-title {
    font-size: 2rem;
    color: white;
}

.header, .gorev-form {
    min-height: 20vh;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-item {
    padding: 0.5rem;
    font-size: 1.5rem;
    border:none;
    background-color: white;
    outline: none;
}

.btn-gorev-ekle {
    color: var(--accent-color);
    cursor: pointer;

}

.btn-gorev-ekle:hover {
    color: white;
    background-color: var(--accent-color);
}

.gorev-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.gorev-listesi {
    list-style: none;
    min-width: 40%;
    
}

.gorev-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: 1.2rem;
    background-color: white;
    transition: .2s ease-in-out;
}

.kaybol {
    transform: scale(0);
}

.gorev-tanim {
    flex:1;
    padding: 0.5rem;
}

.gorev-btn {
    background-color: var(--accent-color);
    outline: none;
    border:none;
    font-size: 1.2rem;
    padding: .7rem;
    color: white;
}

.gorev-btn-sil {
    background-color: red;
}

.gorev-tamamlandi {
    text-decoration: line-through;
    opacity: 0.5;
}

.fas {
    pointer-events: none;
}